<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Cultural institutions are experts at organizing events and exhibitions, but they might have less experience building apps. MALROT lets them publish their events data once and worldwide (while staying in full control) and developers freely consume these data to build innovative services."
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="icon" href="data:," />
    <title>{{title}}</title>
    <!-- Privacy-first analytics (GDPR compliant) -->
    <script
      defer
      data-domain="malrot.org"
      src="https://plausible.io/js/plausible.js"
    ></script>
  </head>
  <body>
    {{{content}}}
    <footer>
      <p class="footer__title">MALROT docs are open source</p>
      <p class="footer__text">See something that's wrong/unclear? Submit
        <a
          href="https://github.com/malrot/www/blob/master/{{page.inputPath}}"
        >a pull request</a>.
      </p>
    </footer>
  </body>
</html>